# Importing Libraires

In [1]:
import pandas as pd
from scipy.io import loadmat

# Loading Exercise 1

In [2]:
Exercise_1 = loadmat(r"S1_A1_E1.mat")

In [3]:
print(Exercise_1)

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Mon Jul 28 11:54:15 2014', '__version__': '1.0', '__globals__': [], 'emg': array([[0.0684, 0.0024, 0.0024, ..., 0.0488, 0.0024, 0.0342],
       [0.0586, 0.0024, 0.0024, ..., 0.0415, 0.0024, 0.0293],
       [0.0562, 0.0024, 0.0024, ..., 0.0391, 0.0024, 0.0244],
       ...,
       [0.0024, 0.0024, 0.0024, ..., 0.0342, 0.0024, 0.0073],
       [0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0073],
       [0.0024, 0.0024, 0.0024, ..., 0.0391, 0.0024, 0.0024]]), 'stimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'glove': array([[146., 121., 113., ..., 131., 135., 115.],
       [146., 121., 113., ..., 131., 135., 115.],
       [146., 121., 113., ..., 131., 135., 115.],
       ...,
       [161., 128., 122., ..., 155., 131., 116.],
       [161., 128., 122., ..., 155., 131., 116.],
       [161., 128., 122., ..., 155., 131., 116.]]), 'subject': array([[1]], dtype=uint8), 'exercise': array([[1]], dtype=uint8), 'repetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'restimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'rerepetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)}

In [4]:
print(Exercise_1.keys())

dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [5]:
emg_1 = Exercise_1['emg']
stimulus_1 = Exercise_1['stimulus']
restimulus_1 = Exercise_1['restimulus']

# DataFramae

### Convert the dictionary into DataFrame

In [6]:
# Custom Column Names

In [7]:
df_1= pd.DataFrame(emg_1, 
                  columns = ['Emg1','Emg2','Emg3','Emg4','Emg5','Emg6','Emg7','Emg8','Emg9','Emg10'])

In [8]:
df_1

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146
...,...,...,...,...,...,...,...,...,...,...
101009,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0024,0.0366,0.0024,0.0024
101010,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024
101011,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0073
101012,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0073
101013,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0391,0.0024,0.0024

In [9]:
stimulus_1 = pd.DataFrame(stimulus_1)
restimulus_1 = pd.DataFrame(restimulus_1)

### Adding new column to existing DataFrame

In [10]:
df_1['stimulus'] = stimulus_1
df_1['restimulus'] = restimulus_1

# Final Output of Exercise 1 DataFrame

In [11]:
df_1

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
101009,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
101010,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024,0,0
101011,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0073,0,0
101012,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0073,0,0
101013,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0391,0.0024,0.0024,0,0

In [12]:
print(df_1.describe(include = 'all'))
print("************************************************************************************************************")
print(df_1.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_1.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  101014.000000  101014.000000  101014.000000  101014.000000
mean        0.039693       0.086158       0.041308       0.012502
std         0.127180       0.231539       0.101912       0.031334
min         0.002400       0.000000       0.002400       0.000000
25%         0.002400       0.002400       0.002400       0.002400
50%         0.002400       0.002400       0.002400       0.002400
75%         0.024400       0.002400       0.012200       0.002400
max         2.399900       2.480500       1.340300       0.446800

                Emg5           Emg6           Emg7           Emg8  \
count  101014.000000  101014.000000  101014.000000  101014.000000
mean        0.003868       0.005367       0.167648       0.116476
std         0.009796       0.021238       0.403823       0.174862
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.009800       0.039100
50%         0.002400       0.002400       0.046400       0.061000
75%         0.002400       0.002400       0.129400       0.109900
max         0.293000       0.639600       4.660600       3.000500

                Emg9          Emg10       stimulus     restimulus
count  101014.000000  101014.000000  101014.000000  101014.000000
mean        0.073460       0.054120       3.985665       2.329905
std         0.156381       0.112567       4.162080       3.691976
min         0.000000       0.002400       0.000000       0.000000
25%         0.002400       0.004900       0.000000       0.000000
50%         0.002400       0.017100       3.000000       0.000000
75%         0.068400       0.048800       8.000000       4.000000
max         1.752900       1.599100      12.000000      12.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101014 entries, 0 to 101013
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Emg1        101014 non-null  float64
 1   Emg2        101014 non-null  float64
 2   Emg3        101014 non-null  float64
 3   Emg4        101014 non-null  float64
 4   Emg5        101014 non-null  float64
 5   Emg6        101014 non-null  float64
 6   Emg7        101014 non-null  float64
 7   Emg8        101014 non-null  float64
 8   Emg9        101014 non-null  float64
 9   Emg10       101014 non-null  float64
 10  stimulus    101014 non-null  uint8
 11  restimulus  101014 non-null  uint8
dtypes: float64(10), uint8(2)
memory usage: 7.9 MB
None
************************************************************************************************************
Shape of the Dataset is (101014, 12)

#  Loading Exercise 2

In [13]:
Exercise_2 = loadmat(r"S1_A1_E2.mat")

In [14]:
print(Exercise_2)
print("************************************************************************************************************")
print(Exercise_2.keys())

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Mon Jul 28 11:54:17 2014', '__version__': '1.0', '__globals__': [], 'emg': array([[0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0024],
       ...,
       [0.022 , 0.0024, 0.0024, ..., 0.0903, 0.0024, 0.0415],
       [0.0342, 0.0024, 0.0049, ..., 0.1172, 0.0024, 0.0415],
       [0.0415, 0.0024, 0.0024, ..., 0.1318, 0.0024, 0.0439]]), 'stimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'glove': array([[160., 124., 118., ..., 159., 132., 112.],
       [160., 124., 118., ..., 159., 132., 112.],
       [160., 124., 118., ..., 159., 132., 112.],
       ...,
       [139., 141., 119., ..., 145., 131., 118.],
       [139., 141., 119., ..., 145., 131., 118.],
       [139., 141., 119., ..., 145., 131., 118.]]), 'subject': array([[1]], dtype=uint8), 'exercise': array([[2]], dtype=uint8), 'repetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'restimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'rerepetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)}
************************************************************************************************************
dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [15]:
emg_2 = Exercise_2['emg']
stimulus_2 = Exercise_2['stimulus']
restimulus_2 = Exercise_2['restimulus']

# DataFramae

### Convert the dictionary into DataFrame

In [16]:
df_2= pd.DataFrame(emg_2, 
                  columns = ['Emg1','Emg2','Emg3','Emg4','Emg5','Emg6','Emg7','Emg8','Emg9','Emg10'])

In [17]:
df_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024
3,0.0195,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0537,0.0024,0.0024
4,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0659,0.0024,0.0024
...,...,...,...,...,...,...,...,...,...,...
142971,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415
142972,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415
142973,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415
142974,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415
142975,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439

In [18]:
stimulus_2 = pd.DataFrame(stimulus_2)
restimulus_2 = pd.DataFrame(restimulus_2)

### Adding new column to existing DataFrame

In [19]:
df_2['stimulus'] = stimulus_2
df_2['restimulus'] = restimulus_2

In [20]:
df_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
3,0.0195,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0537,0.0024,0.0024,0,0
4,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0659,0.0024,0.0024,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
142971,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
142972,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
142973,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415,0,0
142974,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415,0,0
142975,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439,0,0

# Replacing Values of Stimulus Exercise 2

https://datagy.io/pandas-replace-values/

In [21]:
df_2['stimulus'] = df_2['stimulus'].replace(
    to_replace=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17], 
    value=[13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29])
print(df_2)

          Emg1    Emg2    Emg3    Emg4    Emg5    Emg6    Emg7    Emg8  \
0       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366
1       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366
2       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366
3       0.0195  0.0024  0.0024  0.0024  0.0024  0.0024  0.0049  0.0537
4       0.0293  0.0024  0.0024  0.0024  0.0024  0.0024  0.0049  0.0659
...        ...     ...     ...     ...     ...     ...     ...     ...
142971  0.0293  0.0024  0.0024  0.0024  0.0024  0.0024  0.0146  0.1025
142972  0.0293  0.0024  0.0024  0.0024  0.0024  0.0024  0.0146  0.1025
142973  0.0220  0.0024  0.0024  0.0024  0.0024  0.0024  0.0073  0.0903
142974  0.0342  0.0024  0.0049  0.0024  0.0024  0.0024  0.0171  0.1172
142975  0.0415  0.0024  0.0024  0.0024  0.0024  0.0024  0.0220  0.1318

          Emg9   Emg10  stimulus  restimulus
0       0.0024  0.0024         0           0
1       0.0024  0.0024         0           0
2       0.0024  0.0024         0           0
3       0.0024  0.0024         0           0
4       0.0024  0.0024         0           0
...        ...     ...       ...         ...
142971  0.0024  0.0415         0           0
142972  0.0024  0.0415         0           0
142973  0.0024  0.0415         0           0
142974  0.0024  0.0415         0           0
142975  0.0024  0.0439         0           0

[142976 rows x 12 columns]

In [22]:
df_2.describe()

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
count,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000
mean,0.117857,0.143417,0.066564,0.041402,0.009957,0.014334,0.265964,0.227472,0.088279,0.108198,12.903851,3.366551
std,0.272271,0.397495,0.239760,0.193168,0.030656,0.049708,0.599680,0.430314,0.249193,0.209482,10.917518,5.330527
min,0.002400,0.000000,0.002400,0.002400,0.002400,0.000000,0.002400,0.002400,0.000000,0.002400,0.000000,0.000000
25%,0.002400,0.002400,0.002400,0.002400,0.002400,0.002400,0.012200,0.061000,0.002400,0.022000,0.000000,0.000000
50%,0.017100,0.002400,0.002400,0.002400,0.002400,0.002400,0.056200,0.105000,0.002400,0.056200,16.000000,0.000000
75%,0.105000,0.009800,0.004900,0.002400,0.002400,0.002400,0.183100,0.207500,0.017100,0.083000,23.000000,6.000000
max,4.226100,4.663100,4.655800,4.663100,0.468800,1.484400,4.663100,4.665500,4.658200,2.927200,29.000000,17.000000

# Replacing Values of Restimulus Exercise 2

In [23]:
df_2['restimulus'] = df_2['restimulus'].replace(
    to_replace=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17], 
    value=[13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29])
print(df_2)

          Emg1    Emg2    Emg3    Emg4    Emg5    Emg6    Emg7    Emg8  \
0       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366
1       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366
2       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366
3       0.0195  0.0024  0.0024  0.0024  0.0024  0.0024  0.0049  0.0537
4       0.0293  0.0024  0.0024  0.0024  0.0024  0.0024  0.0049  0.0659
...        ...     ...     ...     ...     ...     ...     ...     ...
142971  0.0293  0.0024  0.0024  0.0024  0.0024  0.0024  0.0146  0.1025
142972  0.0293  0.0024  0.0024  0.0024  0.0024  0.0024  0.0146  0.1025
142973  0.0220  0.0024  0.0024  0.0024  0.0024  0.0024  0.0073  0.0903
142974  0.0342  0.0024  0.0049  0.0024  0.0024  0.0024  0.0171  0.1172
142975  0.0415  0.0024  0.0024  0.0024  0.0024  0.0024  0.0220  0.1318

          Emg9   Emg10  stimulus  restimulus
0       0.0024  0.0024         0           0
1       0.0024  0.0024         0           0
2       0.0024  0.0024         0           0
3       0.0024  0.0024         0           0
4       0.0024  0.0024         0           0
...        ...     ...       ...         ...
142971  0.0024  0.0415         0           0
142972  0.0024  0.0415         0           0
142973  0.0024  0.0415         0           0
142974  0.0024  0.0415         0           0
142975  0.0024  0.0439         0           0

[142976 rows x 12 columns]

In [24]:
df_2.describe()

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
count,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000
mean,0.117857,0.143417,0.066564,0.041402,0.009957,0.014334,0.265964,0.227472,0.088279,0.108198,12.903851,7.831552
std,0.272271,0.397495,0.239760,0.193168,0.030656,0.049708,0.599680,0.430314,0.249193,0.209482,10.917518,10.620396
min,0.002400,0.000000,0.002400,0.002400,0.002400,0.000000,0.002400,0.002400,0.000000,0.002400,0.000000,0.000000
25%,0.002400,0.002400,0.002400,0.002400,0.002400,0.002400,0.012200,0.061000,0.002400,0.022000,0.000000,0.000000
50%,0.017100,0.002400,0.002400,0.002400,0.002400,0.002400,0.056200,0.105000,0.002400,0.056200,16.000000,0.000000
75%,0.105000,0.009800,0.004900,0.002400,0.002400,0.002400,0.183100,0.207500,0.017100,0.083000,23.000000,18.000000
max,4.226100,4.663100,4.655800,4.663100,0.468800,1.484400,4.663100,4.665500,4.658200,2.927200,29.000000,29.000000

In [25]:
df_2.describe()

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
count,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000,142976.000000
mean,0.117857,0.143417,0.066564,0.041402,0.009957,0.014334,0.265964,0.227472,0.088279,0.108198,12.903851,7.831552
std,0.272271,0.397495,0.239760,0.193168,0.030656,0.049708,0.599680,0.430314,0.249193,0.209482,10.917518,10.620396
min,0.002400,0.000000,0.002400,0.002400,0.002400,0.000000,0.002400,0.002400,0.000000,0.002400,0.000000,0.000000
25%,0.002400,0.002400,0.002400,0.002400,0.002400,0.002400,0.012200,0.061000,0.002400,0.022000,0.000000,0.000000
50%,0.017100,0.002400,0.002400,0.002400,0.002400,0.002400,0.056200,0.105000,0.002400,0.056200,16.000000,0.000000
75%,0.105000,0.009800,0.004900,0.002400,0.002400,0.002400,0.183100,0.207500,0.017100,0.083000,23.000000,18.000000
max,4.226100,4.663100,4.655800,4.663100,0.468800,1.484400,4.663100,4.665500,4.658200,2.927200,29.000000,29.000000

# Final Output of Exercise 2 DataFrame

In [26]:
df_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
3,0.0195,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0537,0.0024,0.0024,0,0
4,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0659,0.0024,0.0024,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
142971,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
142972,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
142973,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415,0,0
142974,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415,0,0
142975,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439,0,0

In [27]:
print(df_2.describe(include = 'all'))
print("************************************************************************************************************")
print(df_2.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_2.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  142976.000000  142976.000000  142976.000000  142976.000000
mean        0.117857       0.143417       0.066564       0.041402
std         0.272271       0.397495       0.239760       0.193168
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.002400       0.002400
50%         0.017100       0.002400       0.002400       0.002400
75%         0.105000       0.009800       0.004900       0.002400
max         4.226100       4.663100       4.655800       4.663100

                Emg5           Emg6           Emg7           Emg8  \
count  142976.000000  142976.000000  142976.000000  142976.000000
mean        0.009957       0.014334       0.265964       0.227472
std         0.030656       0.049708       0.599680       0.430314
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.012200       0.061000
50%         0.002400       0.002400       0.056200       0.105000
75%         0.002400       0.002400       0.183100       0.207500
max         0.468800       1.484400       4.663100       4.665500

                Emg9          Emg10       stimulus     restimulus
count  142976.000000  142976.000000  142976.000000  142976.000000
mean        0.088279       0.108198      12.903851       7.831552
std         0.249193       0.209482      10.917518      10.620396
min         0.000000       0.002400       0.000000       0.000000
25%         0.002400       0.022000       0.000000       0.000000
50%         0.002400       0.056200      16.000000       0.000000
75%         0.017100       0.083000      23.000000      18.000000
max         4.658200       2.927200      29.000000      29.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142976 entries, 0 to 142975
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Emg1        142976 non-null  float64
 1   Emg2        142976 non-null  float64
 2   Emg3        142976 non-null  float64
 3   Emg4        142976 non-null  float64
 4   Emg5        142976 non-null  float64
 5   Emg6        142976 non-null  float64
 6   Emg7        142976 non-null  float64
 7   Emg8        142976 non-null  float64
 8   Emg9        142976 non-null  float64
 9   Emg10       142976 non-null  float64
 10  stimulus    142976 non-null  uint8
 11  restimulus  142976 non-null  uint8
dtypes: float64(10), uint8(2)
memory usage: 11.2 MB
None
************************************************************************************************************
Shape of the Dataset is (142976, 12)

#  Loading Exercise 3

In [28]:
Exercise_3 = loadmat(r"S1_A1_E3.mat")

In [29]:
print(Exercise_3)
print("************************************************************************************************************")
print(Exercise_3.keys())

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Mon Jul 28 11:54:18 2014', '__version__': '1.0', '__globals__': [], 'emg': array([[0.0024, 0.0024, 0.0024, ..., 0.0732, 0.0024, 0.0903],
       [0.0024, 0.0024, 0.0024, ..., 0.0757, 0.0024, 0.0928],
       [0.0024, 0.0024, 0.0024, ..., 0.0879, 0.0024, 0.0903],
       ...,
       [0.0024, 0.0024, 0.0024, ..., 0.0513, 0.127 , 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0488, 0.1294, 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0439, 0.1294, 0.0024]]), 'stimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'glove': array([[152., 137., 111., ..., 139., 134., 108.],
       [152., 137., 111., ..., 139., 134., 108.],
       [152., 137., 111., ..., 139., 134., 108.],
       ...,
       [152., 131., 114., ..., 124., 133., 120.],
       [152., 131., 114., ..., 124., 133., 120.],
       [152., 131., 114., ..., 124., 133., 120.]]), 'subject': array([[1]], dtype=uint8), 'exercise': array([[3]], dtype=uint8), 'repetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'restimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'rerepetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)}
************************************************************************************************************
dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [30]:
emg_3 = Exercise_3['emg']
stimulus_3 = Exercise_3['stimulus']
restimulus_3 = Exercise_3['restimulus']

# DataFramae

In [31]:
df_3= pd.DataFrame(emg_3, 
                  columns = ['Emg1','Emg2','Emg3','Emg4','Emg5','Emg6','Emg7','Emg8','Emg9','Emg10'])

In [32]:
df_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0317,0.0732,0.0024,0.0903
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0757,0.0024,0.0928
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0415,0.0879,0.0024,0.0903
3,0.0024,0.0024,0.0049,0.0024,0.0024,0.0024,0.0366,0.0952,0.0024,0.0830
4,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0293,0.0952,0.0024,0.0708
...,...,...,...,...,...,...,...,...,...,...
227488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024
227489,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024
227490,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024
227491,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024
227492,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024

In [33]:
stimulus_3 = pd.DataFrame(stimulus_3)
restimulus_3 = pd.DataFrame(restimulus_3)

# Adding new column to existing DataFrame

In [34]:
df_3['stimulus'] = stimulus_3
df_3['restimulus'] = restimulus_3

In [35]:
df_3.describe()

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
count,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000,227493.000000
mean,0.177020,0.125848,0.195590,0.060284,0.018392,0.018891,0.218081,0.289072,0.134195,0.057882,6.284220,4.962707
std,0.332936,0.303522,0.430584,0.183509,0.038278,0.043190,0.410667,0.346111,0.248078,0.129270,7.679851,7.434667
min,0.002400,0.000000,0.002400,0.000000,0.002400,0.000000,0.002400,0.002400,0.002400,0.002400,0.000000,0.000000
25%,0.002400,0.002400,0.002400,0.002400,0.002400,0.002400,0.012200,0.087900,0.002400,0.009800,0.000000,0.000000
50%,0.034200,0.002400,0.002400,0.002400,0.002400,0.002400,0.048800,0.146500,0.102500,0.036600,2.000000,0.000000
75%,0.195300,0.097700,0.180700,0.034200,0.014600,0.009800,0.231900,0.351600,0.148900,0.058600,13.000000,10.000000
max,4.665500,4.660600,4.658200,4.619100,0.876500,0.632300,4.663100,4.577600,4.660600,4.628900,23.000000,23.000000

# Replacing Values of Stimulus Exercise 3

In [36]:
df_3['stimulus'] = df_3['stimulus'].replace(
    to_replace=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], 
    value=[30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52])
print(df_3)

          Emg1    Emg2    Emg3    Emg4    Emg5    Emg6    Emg7    Emg8  \
0       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0317  0.0732
1       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366  0.0757
2       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0415  0.0879
3       0.0024  0.0024  0.0049  0.0024  0.0024  0.0024  0.0366  0.0952
4       0.0024  0.0024  0.0024  0.0024  0.0049  0.0024  0.0293  0.0952
...        ...     ...     ...     ...     ...     ...     ...     ...
227488  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0562
227489  0.0024  0.0024  0.0024  0.0024  0.0024  0.0049  0.0024  0.0513
227490  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0513
227491  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0488
227492  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0439

          Emg9   Emg10  stimulus  restimulus
0       0.0024  0.0903         0           0
1       0.0024  0.0928         0           0
2       0.0024  0.0903         0           0
3       0.0024  0.0830         0           0
4       0.0024  0.0708         0           0
...        ...     ...       ...         ...
227488  0.1221  0.0024         0           0
227489  0.1270  0.0024         0           0
227490  0.1270  0.0024         0           0
227491  0.1294  0.0024         0           0
227492  0.1294  0.0024         0           0

[227493 rows x 12 columns]

# Replacing Values of restimulus Exercise 3

In [37]:
df_3['restimulus'] = df_3['restimulus'].replace(
    to_replace=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], 
    value=[30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52])
print(df_3)

          Emg1    Emg2    Emg3    Emg4    Emg5    Emg6    Emg7    Emg8  \
0       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0317  0.0732
1       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0366  0.0757
2       0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0415  0.0879
3       0.0024  0.0024  0.0049  0.0024  0.0024  0.0024  0.0366  0.0952
4       0.0024  0.0024  0.0024  0.0024  0.0049  0.0024  0.0293  0.0952
...        ...     ...     ...     ...     ...     ...     ...     ...
227488  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0562
227489  0.0024  0.0024  0.0024  0.0024  0.0024  0.0049  0.0024  0.0513
227490  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0513
227491  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0488
227492  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0024  0.0439

          Emg9   Emg10  stimulus  restimulus
0       0.0024  0.0903         0           0
1       0.0024  0.0928         0           0
2       0.0024  0.0903         0           0
3       0.0024  0.0830         0           0
4       0.0024  0.0708         0           0
...        ...     ...       ...         ...
227488  0.1221  0.0024         0           0
227489  0.1270  0.0024         0           0
227490  0.1270  0.0024         0           0
227491  0.1294  0.0024         0           0
227492  0.1294  0.0024         0           0

[227493 rows x 12 columns]

# Final Output of Exercise 3 DataFrame

In [38]:
df_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0317,0.0732,0.0024,0.0903,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0757,0.0024,0.0928,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0415,0.0879,0.0024,0.0903,0,0
3,0.0024,0.0024,0.0049,0.0024,0.0024,0.0024,0.0366,0.0952,0.0024,0.0830,0,0
4,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0293,0.0952,0.0024,0.0708,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
227488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024,0,0
227489,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024,0,0
227490,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024,0,0
227491,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024,0,0
227492,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024,0,0

In [39]:
print(df_3.describe(include = 'all'))
print("************************************************************************************************************")
print(df_3.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_3.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  227493.000000  227493.000000  227493.000000  227493.000000
mean        0.177020       0.125848       0.195590       0.060284
std         0.332936       0.303522       0.430584       0.183509
min         0.002400       0.000000       0.002400       0.000000
25%         0.002400       0.002400       0.002400       0.002400
50%         0.034200       0.002400       0.002400       0.002400
75%         0.195300       0.097700       0.180700       0.034200
max         4.665500       4.660600       4.658200       4.619100

                Emg5           Emg6           Emg7           Emg8  \
count  227493.000000  227493.000000  227493.000000  227493.000000
mean        0.018392       0.018891       0.218081       0.289072
std         0.038278       0.043190       0.410667       0.346111
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.012200       0.087900
50%         0.002400       0.002400       0.048800       0.146500
75%         0.014600       0.009800       0.231900       0.351600
max         0.876500       0.632300       4.663100       4.577600

                Emg9          Emg10       stimulus     restimulus
count  227493.000000  227493.000000  227493.000000  227493.000000
mean        0.134195       0.057882      21.459526      16.514495
std         0.248078       0.129270      21.036411      20.736795
min         0.002400       0.002400       0.000000       0.000000
25%         0.002400       0.009800       0.000000       0.000000
50%         0.102500       0.036600      31.000000       0.000000
75%         0.148900       0.058600      42.000000      39.000000
max         4.660600       4.628900      52.000000      52.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227493 entries, 0 to 227492
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Emg1        227493 non-null  float64
 1   Emg2        227493 non-null  float64
 2   Emg3        227493 non-null  float64
 3   Emg4        227493 non-null  float64
 4   Emg5        227493 non-null  float64
 5   Emg6        227493 non-null  float64
 6   Emg7        227493 non-null  float64
 7   Emg8        227493 non-null  float64
 8   Emg9        227493 non-null  float64
 9   Emg10       227493 non-null  float64
 10  stimulus    227493 non-null  uint8
 11  restimulus  227493 non-null  uint8
dtypes: float64(10), uint8(2)
memory usage: 17.8 MB
None
************************************************************************************************************
Shape of the Dataset is (227493, 12)

# Add a row from one dataframe to other dataframe

https://appdividend.com/2020/01/22/python-pandas-how-to-add-rows-in-dataframe/#:~:text=Python%20Pandas%20dataframe%20append(),or%20add%20a%20new%20row.

In [40]:
df_1_2 = df_1.append(df_2, ignore_index=True)

C:\Users\nafem\AppData\Local\Temp\ipykernel_3300\3040532401.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1_2 = df_1.append(df_2, ignore_index=True)

In [41]:
df_1_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
243985,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
243986,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
243987,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415,0,0
243988,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415,0,0
243989,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439,0,0

In [42]:
df_1_2_3 = df_1_2.append(df_3, ignore_index=True)

C:\Users\nafem\AppData\Local\Temp\ipykernel_3300\1842338205.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1_2_3 = df_1_2.append(df_3, ignore_index=True)

# Final Output

In [43]:
df_1_2_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
471478,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024,0,0
471479,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024,0,0
471480,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024,0,0
471481,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024,0,0
471482,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024,0,0

In [44]:
print(df_1_2_3.describe(include = 'all'))
print("************************************************************************************************************")
print(df_1_2_3.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_1_2_3.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  471483.000000  471483.000000  471483.000000  471483.000000
mean        0.129657       0.122672       0.123409       0.044321
std         0.286859       0.322911       0.337717       0.167680
min         0.002400       0.000000       0.002400       0.000000
25%         0.002400       0.002400       0.002400       0.002400
50%         0.017100       0.002400       0.002400       0.002400
75%         0.114700       0.046400       0.058600       0.007300
max         4.665500       4.663100       4.658200       4.663100

                Emg5           Emg6           Emg7           Emg8  \
count  471483.000000  471483.000000  471483.000000  471483.000000
mean        0.012722       0.014612       0.221796       0.233414
std         0.032359       0.042109       0.476014       0.353467
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.012200       0.063500
50%         0.002400       0.002400       0.051300       0.112300
75%         0.002400       0.002400       0.190400       0.244100
max         0.876500       1.484400       4.663100       4.665500

                Emg9          Emg10       stimulus     restimulus
count  471483.000000  471483.000000  471483.000000  471483.000000
mean        0.107259       0.072334      15.121311      10.842404
std         0.233386       0.156993      17.344188      16.685490
min         0.000000       0.002400       0.000000       0.000000
25%         0.002400       0.009800       0.000000       0.000000
50%         0.007300       0.039100       7.000000       0.000000
75%         0.136700       0.065900      30.000000      21.000000
max         4.660600       4.628900      52.000000      52.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471483 entries, 0 to 471482
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Emg1        471483 non-null  float64
 1   Emg2        471483 non-null  float64
 2   Emg3        471483 non-null  float64
 3   Emg4        471483 non-null  float64
 4   Emg5        471483 non-null  float64
 5   Emg6        471483 non-null  float64
 6   Emg7        471483 non-null  float64
 7   Emg8        471483 non-null  float64
 8   Emg9        471483 non-null  float64
 9   Emg10       471483 non-null  float64
 10  stimulus    471483 non-null  uint8
 11  restimulus  471483 non-null  uint8
dtypes: float64(10), uint8(2)
memory usage: 36.9 MB
None
************************************************************************************************************
Shape of the Dataset is (471483, 12)

# Compersion

In [45]:
df_1

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
101009,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
101010,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024,0,0
101011,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0073,0,0
101012,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0073,0,0
101013,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0391,0.0024,0.0024,0,0

In [46]:
df_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0
3,0.0195,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0537,0.0024,0.0024,0,0
4,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0659,0.0024,0.0024,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
142971,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
142972,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0
142973,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415,0,0
142974,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415,0,0
142975,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439,0,0

In [47]:
df_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0317,0.0732,0.0024,0.0903,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0757,0.0024,0.0928,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0415,0.0879,0.0024,0.0903,0,0
3,0.0024,0.0024,0.0049,0.0024,0.0024,0.0024,0.0366,0.0952,0.0024,0.0830,0,0
4,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0293,0.0952,0.0024,0.0708,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
227488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024,0,0
227489,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024,0,0
227490,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024,0,0
227491,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024,0,0
227492,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024,0,0

In [48]:
df_1_2_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,stimulus,restimulus
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
471478,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024,0,0
471479,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024,0,0
471480,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024,0,0
471481,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024,0,0
471482,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024,0,0