# Importing Libraires

In [1]:
import pandas as pd
from scipy.io import loadmat

# Loading Exercise 1

In [2]:
Exercise_1 = loadmat(r"S1_A1_E1.mat")

In [3]:
print(Exercise_1)

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Mon Jul 28 11:54:15 2014', '__version__': '1.0', '__globals__': [], 'emg': array([[0.0684, 0.0024, 0.0024, ..., 0.0488, 0.0024, 0.0342],
       [0.0586, 0.0024, 0.0024, ..., 0.0415, 0.0024, 0.0293],
       [0.0562, 0.0024, 0.0024, ..., 0.0391, 0.0024, 0.0244],
       ...,
       [0.0024, 0.0024, 0.0024, ..., 0.0342, 0.0024, 0.0073],
       [0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0073],
       [0.0024, 0.0024, 0.0024, ..., 0.0391, 0.0024, 0.0024]]), 'stimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'glove': array([[146., 121., 113., ..., 131., 135., 115.],
       [146., 121., 113., ..., 131., 135., 115.],
       [146., 121., 113., ..., 131., 135., 115.],
       ...,
       [161., 128., 122., ..., 155., 131., 116.],
       [161., 128., 122., ..., 155., 131., 116.],
       [161., 128., 122., ..., 155., 131., 116.]]), 'subject': array([[1]], dtype=uint8), 'exercise': array([[1]], dtype=uint8), 'repetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'restimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'rerepetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)}

In [4]:
print(Exercise_1.keys())

dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [5]:
emg_1 = Exercise_1['emg']
stimulus_1 = Exercise_1['stimulus']
restimulus_1 = Exercise_1['restimulus']
repetition_1 = Exercise_1['repetition']
rerepetition_1 = Exercise_1['rerepetition']

# DataFramae

### Convert the dictionary into DataFrame

In [6]:
# Custom Column Names

In [7]:
df_1= pd.DataFrame(emg_1, 
                  columns = ['Emg1','Emg2','Emg3','Emg4','Emg5','Emg6','Emg7','Emg8','Emg9','Emg10'])

In [8]:
df_1

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146
...,...,...,...,...,...,...,...,...,...,...
101009,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0024,0.0366,0.0024,0.0024
101010,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024
101011,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0073
101012,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0073
101013,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0391,0.0024,0.0024

In [9]:
repetition_1 = pd.DataFrame(repetition_1)
rerepetition_1 = pd.DataFrame(rerepetition_1)
stimulus_1 = pd.DataFrame(stimulus_1)
restimulus_1 = pd.DataFrame(restimulus_1)

### Adding new column to existing DataFrame

In [10]:
df_1['repetition'] = repetition_1
df_1['rerepetition'] = rerepetition_1
df_1['stimulus'] = stimulus_1
df_1['restimulus'] = restimulus_1

# Final Output of Exercise 1 DataFrame

In [11]:
df_1

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,repetition,rerepetition,stimulus,restimulus
0,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0,0,0
1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0,0,0
2,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0,0,0
3,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0,0,0
4,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101009,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0024,0.0366,0.0024,0.0024,0,0,0,0
101010,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024,0,0,0,0
101011,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0073,0,0,0,0
101012,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0073,0,0,0,0
101013,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0391,0.0024,0.0024,0,0,0,0

In [12]:
print(df_1.describe(include = 'all'))
print("************************************************************************************************************")
print(df_1.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_1.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  101014.000000  101014.000000  101014.000000  101014.000000
mean        0.039693       0.086158       0.041308       0.012502
std         0.127180       0.231539       0.101912       0.031334
min         0.002400       0.000000       0.002400       0.000000
25%         0.002400       0.002400       0.002400       0.002400
50%         0.002400       0.002400       0.002400       0.002400
75%         0.024400       0.002400       0.012200       0.002400
max         2.399900       2.480500       1.340300       0.446800

                Emg5           Emg6           Emg7           Emg8  \
count  101014.000000  101014.000000  101014.000000  101014.000000
mean        0.003868       0.005367       0.167648       0.116476
std         0.009796       0.021238       0.403823       0.174862
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.009800       0.039100
50%         0.002400       0.002400       0.046400       0.061000
75%         0.002400       0.002400       0.129400       0.109900
max         0.293000       0.639600       4.660600       3.000500

                Emg9          Emg10     repetition   rerepetition  \
count  101014.000000  101014.000000  101014.000000  101014.000000
mean        0.073460       0.054120       3.372948       2.055349
std         0.156381       0.112567       3.497555       3.188164
min         0.000000       0.002400       0.000000       0.000000
25%         0.002400       0.004900       0.000000       0.000000
50%         0.002400       0.017100       2.000000       0.000000
75%         0.068400       0.048800       6.000000       4.000000
max         1.752900       1.599100      10.000000      10.000000

            stimulus     restimulus
count  101014.000000  101014.000000
mean        3.985665       2.329905
std         4.162080       3.691976
min         0.000000       0.000000
25%         0.000000       0.000000
50%         3.000000       0.000000
75%         8.000000       4.000000
max        12.000000      12.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101014 entries, 0 to 101013
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Emg1          101014 non-null  float64
 1   Emg2          101014 non-null  float64
 2   Emg3          101014 non-null  float64
 3   Emg4          101014 non-null  float64
 4   Emg5          101014 non-null  float64
 5   Emg6          101014 non-null  float64
 6   Emg7          101014 non-null  float64
 7   Emg8          101014 non-null  float64
 8   Emg9          101014 non-null  float64
 9   Emg10         101014 non-null  float64
 10  repetition    101014 non-null  uint8
 11  rerepetition  101014 non-null  uint8
 12  stimulus      101014 non-null  uint8
 13  restimulus    101014 non-null  uint8
dtypes: float64(10), uint8(4)
memory usage: 8.1 MB
None
************************************************************************************************************
Shape of the Dataset is (101014, 14)

#  Loading Exercise 2

In [13]:
Exercise_2 = loadmat(r"S1_A1_E2.mat")

In [14]:
print(Exercise_2)
print("************************************************************************************************************")
print(Exercise_2.keys())

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Mon Jul 28 11:54:17 2014', '__version__': '1.0', '__globals__': [], 'emg': array([[0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0366, 0.0024, 0.0024],
       ...,
       [0.022 , 0.0024, 0.0024, ..., 0.0903, 0.0024, 0.0415],
       [0.0342, 0.0024, 0.0049, ..., 0.1172, 0.0024, 0.0415],
       [0.0415, 0.0024, 0.0024, ..., 0.1318, 0.0024, 0.0439]]), 'stimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'glove': array([[160., 124., 118., ..., 159., 132., 112.],
       [160., 124., 118., ..., 159., 132., 112.],
       [160., 124., 118., ..., 159., 132., 112.],
       ...,
       [139., 141., 119., ..., 145., 131., 118.],
       [139., 141., 119., ..., 145., 131., 118.],
       [139., 141., 119., ..., 145., 131., 118.]]), 'subject': array([[1]], dtype=uint8), 'exercise': array([[2]], dtype=uint8), 'repetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'restimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'rerepetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)}
************************************************************************************************************
dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [15]:
emg_2 = Exercise_2['emg']
stimulus_2 = Exercise_2['stimulus']
restimulus_2 = Exercise_2['restimulus']
repetition_2 = Exercise_2['repetition']
rerepetition_2 = Exercise_2['rerepetition']

# DataFramae

### Convert the dictionary into DataFrame

In [16]:
df_2= pd.DataFrame(emg_2, 
                  columns = ['Emg1','Emg2','Emg3','Emg4','Emg5','Emg6','Emg7','Emg8','Emg9','Emg10'])

In [17]:
df_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024
3,0.0195,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0537,0.0024,0.0024
4,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0659,0.0024,0.0024
...,...,...,...,...,...,...,...,...,...,...
142971,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415
142972,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415
142973,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415
142974,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415
142975,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439

In [18]:
repetition_2 = pd.DataFrame(repetition_2)
rerepetition_2 = pd.DataFrame(rerepetition_2)
stimulus_2 = pd.DataFrame(stimulus_2)
restimulus_2 = pd.DataFrame(restimulus_2)

### Adding new column to existing DataFrame

In [19]:
df_2['repetition'] = repetition_2
df_2['rerepetition'] = rerepetition_2
df_2['stimulus'] = stimulus_2
df_2['restimulus'] = restimulus_2

# Final Output of Exercise 2 DataFrame

In [20]:
df_2

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,repetition,rerepetition,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0024,0,0,0,0
3,0.0195,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0537,0.0024,0.0024,0,0,0,0
4,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0659,0.0024,0.0024,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142971,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0,0,0
142972,0.0293,0.0024,0.0024,0.0024,0.0024,0.0024,0.0146,0.1025,0.0024,0.0415,0,0,0,0
142973,0.0220,0.0024,0.0024,0.0024,0.0024,0.0024,0.0073,0.0903,0.0024,0.0415,0,0,0,0
142974,0.0342,0.0024,0.0049,0.0024,0.0024,0.0024,0.0171,0.1172,0.0024,0.0415,0,0,0,0
142975,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0220,0.1318,0.0024,0.0439,0,0,0,0

In [21]:
print(df_2.describe(include = 'all'))
print("************************************************************************************************************")
print(df_2.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_2.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  142976.000000  142976.000000  142976.000000  142976.000000
mean        0.117857       0.143417       0.066564       0.041402
std         0.272271       0.397495       0.239760       0.193168
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.002400       0.002400
50%         0.017100       0.002400       0.002400       0.002400
75%         0.105000       0.009800       0.004900       0.002400
max         4.226100       4.663100       4.655800       4.663100

                Emg5           Emg6           Emg7           Emg8  \
count  142976.000000  142976.000000  142976.000000  142976.000000
mean        0.009957       0.014334       0.265964       0.227472
std         0.030656       0.049708       0.599680       0.430314
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.012200       0.061000
50%         0.002400       0.002400       0.056200       0.105000
75%         0.002400       0.002400       0.183100       0.207500
max         0.468800       1.484400       4.663100       4.665500

                Emg9          Emg10     repetition   rerepetition  \
count  142976.000000  142976.000000  142976.000000  142976.000000
mean        0.088279       0.108198       3.379553       2.040293
std         0.249193       0.209482       3.497347       3.176332
min         0.000000       0.002400       0.000000       0.000000
25%         0.002400       0.022000       0.000000       0.000000
50%         0.002400       0.056200       2.000000       0.000000
75%         0.017100       0.083000       6.000000       4.000000
max         4.658200       2.927200      10.000000      10.000000

            stimulus     restimulus
count  142976.000000  142976.000000
mean        5.529494       3.366551
std         5.824562       5.330527
min         0.000000       0.000000
25%         0.000000       0.000000
50%         4.000000       0.000000
75%        11.000000       6.000000
max        17.000000      17.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142976 entries, 0 to 142975
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Emg1          142976 non-null  float64
 1   Emg2          142976 non-null  float64
 2   Emg3          142976 non-null  float64
 3   Emg4          142976 non-null  float64
 4   Emg5          142976 non-null  float64
 5   Emg6          142976 non-null  float64
 6   Emg7          142976 non-null  float64
 7   Emg8          142976 non-null  float64
 8   Emg9          142976 non-null  float64
 9   Emg10         142976 non-null  float64
 10  repetition    142976 non-null  uint8
 11  rerepetition  142976 non-null  uint8
 12  stimulus      142976 non-null  uint8
 13  restimulus    142976 non-null  uint8
dtypes: float64(10), uint8(4)
memory usage: 11.5 MB
None
************************************************************************************************************
Shape of the Dataset is (142976, 14)

#  Loading Exercise 3

In [22]:
Exercise_3 = loadmat(r"S1_A1_E3.mat")

In [23]:
print(Exercise_3)
print("************************************************************************************************************")
print(Exercise_3.keys())

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Mon Jul 28 11:54:18 2014', '__version__': '1.0', '__globals__': [], 'emg': array([[0.0024, 0.0024, 0.0024, ..., 0.0732, 0.0024, 0.0903],
       [0.0024, 0.0024, 0.0024, ..., 0.0757, 0.0024, 0.0928],
       [0.0024, 0.0024, 0.0024, ..., 0.0879, 0.0024, 0.0903],
       ...,
       [0.0024, 0.0024, 0.0024, ..., 0.0513, 0.127 , 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0488, 0.1294, 0.0024],
       [0.0024, 0.0024, 0.0024, ..., 0.0439, 0.1294, 0.0024]]), 'stimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'glove': array([[152., 137., 111., ..., 139., 134., 108.],
       [152., 137., 111., ..., 139., 134., 108.],
       [152., 137., 111., ..., 139., 134., 108.],
       ...,
       [152., 131., 114., ..., 124., 133., 120.],
       [152., 131., 114., ..., 124., 133., 120.],
       [152., 131., 114., ..., 124., 133., 120.]]), 'subject': array([[1]], dtype=uint8), 'exercise': array([[3]], dtype=uint8), 'repetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'restimulus': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8), 'rerepetition': array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)}
************************************************************************************************************
dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [24]:
emg_3 = Exercise_3['emg']
stimulus_3 = Exercise_3['stimulus']
restimulus_3 = Exercise_3['restimulus']
repetition_3 = Exercise_3['repetition']
rerepetition_3 = Exercise_3['rerepetition']

# DataFramae

In [25]:
df_3= pd.DataFrame(emg_3, 
                  columns = ['Emg1','Emg2','Emg3','Emg4','Emg5','Emg6','Emg7','Emg8','Emg9','Emg10'])

In [26]:
df_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0317,0.0732,0.0024,0.0903
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0757,0.0024,0.0928
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0415,0.0879,0.0024,0.0903
3,0.0024,0.0024,0.0049,0.0024,0.0024,0.0024,0.0366,0.0952,0.0024,0.0830
4,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0293,0.0952,0.0024,0.0708
...,...,...,...,...,...,...,...,...,...,...
227488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024
227489,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024
227490,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024
227491,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024
227492,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024

In [27]:
repetition_3 = pd.DataFrame(repetition_3)
rerepetition_3 = pd.DataFrame(rerepetition_3)
stimulus_3 = pd.DataFrame(stimulus_3)
restimulus_3 = pd.DataFrame(restimulus_3)

# Adding new column to existing DataFrame

In [28]:
df_3['repetition'] = repetition_3
df_3['rerepetition'] = rerepetition_3
df_3['stimulus'] = stimulus_3
df_3['restimulus'] = restimulus_3

# Final Output of Exercise 3 DataFrame

In [29]:
df_3

,Emg1,Emg2,Emg3,Emg4,Emg5,Emg6,Emg7,Emg8,Emg9,Emg10,repetition,rerepetition,stimulus,restimulus
0,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0317,0.0732,0.0024,0.0903,0,0,0,0
1,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0757,0.0024,0.0928,0,0,0,0
2,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0415,0.0879,0.0024,0.0903,0,0,0,0
3,0.0024,0.0024,0.0049,0.0024,0.0024,0.0024,0.0366,0.0952,0.0024,0.0830,0,0,0,0
4,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0293,0.0952,0.0024,0.0708,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0562,0.1221,0.0024,0,0,0,0
227489,0.0024,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0513,0.1270,0.0024,0,0,0,0
227490,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0513,0.1270,0.0024,0,0,0,0
227491,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0488,0.1294,0.0024,0,0,0,0
227492,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0439,0.1294,0.0024,0,0,0,0

In [30]:
print(df_3.describe(include = 'all'))
print("************************************************************************************************************")
print(df_3.info())
print("************************************************************************************************************")
print("Shape of the Dataset is", df_3.shape)

                Emg1           Emg2           Emg3           Emg4  \
count  227493.000000  227493.000000  227493.000000  227493.000000
mean        0.177020       0.125848       0.195590       0.060284
std         0.332936       0.303522       0.430584       0.183509
min         0.002400       0.000000       0.002400       0.000000
25%         0.002400       0.002400       0.002400       0.002400
50%         0.034200       0.002400       0.002400       0.002400
75%         0.195300       0.097700       0.180700       0.034200
max         4.665500       4.660600       4.658200       4.619100

                Emg5           Emg6           Emg7           Emg8  \
count  227493.000000  227493.000000  227493.000000  227493.000000
mean        0.018392       0.018891       0.218081       0.289072
std         0.038278       0.043190       0.410667       0.346111
min         0.002400       0.000000       0.002400       0.002400
25%         0.002400       0.002400       0.012200       0.087900
50%         0.002400       0.002400       0.048800       0.146500
75%         0.014600       0.009800       0.231900       0.351600
max         0.876500       0.632300       4.663100       4.577600

                Emg9          Emg10     repetition   rerepetition  \
count  227493.000000  227493.000000  227493.000000  227493.000000
mean        0.134195       0.057882       2.877816       2.184823
std         0.248078       0.129270       3.443945       3.244551
min         0.002400       0.002400       0.000000       0.000000
25%         0.002400       0.009800       0.000000       0.000000
50%         0.102500       0.036600       1.000000       0.000000
75%         0.148900       0.058600       6.000000       4.000000
max         4.660600       4.628900      10.000000      10.000000

            stimulus     restimulus
count  227493.000000  227493.000000
mean        6.284220       4.962707
std         7.679851       7.434667
min         0.000000       0.000000
25%         0.000000       0.000000
50%         2.000000       0.000000
75%        13.000000      10.000000
max        23.000000      23.000000
************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227493 entries, 0 to 227492
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Emg1          227493 non-null  float64
 1   Emg2          227493 non-null  float64
 2   Emg3          227493 non-null  float64
 3   Emg4          227493 non-null  float64
 4   Emg5          227493 non-null  float64
 5   Emg6          227493 non-null  float64
 6   Emg7          227493 non-null  float64
 7   Emg8          227493 non-null  float64
 8   Emg9          227493 non-null  float64
 9   Emg10         227493 non-null  float64
 10  repetition    227493 non-null  uint8
 11  rerepetition  227493 non-null  uint8
 12  stimulus      227493 non-null  uint8
 13  restimulus    227493 non-null  uint8
dtypes: float64(10), uint8(4)
memory usage: 18.2 MB
None
************************************************************************************************************
Shape of the Dataset is (227493, 14)